<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msr.shardingjdbc.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.msr.shardingjdbc.entity.Course">
        <id column="course_id" jdbcType="BIGINT" property="courseId"/>
        <id column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <id column="course_status" jdbcType="VARCHAR" property="courseStatus"/>
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
    </resultMap>

</mapper>